# =========================
# Python
# =========================
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

src/__pycache__/

# =========================
# Environment
# =========================
.env

# =========================
# Generated Data
# =========================
vault_manager/
outputs/
uploads/
audios/
videos/

# =========================
# Vector Databases
# =========================
*.bin
*.pkl
*.faiss
*.index

# =========================
# Models (too large)
# =========================
local_models/

# =========================
# Knowledge Base
# =========================
Knowledge_Source/

# =========================
# Generated Chunks
# =========================
smart_jsons/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Archives
# =========================
_ARCHIVE/